
.Afirst{
    text-align: center;
    margin-top: 100px;
    
    
}

.Anum{
    
    color: black;
    margin-top: 10%;
    text-shadow: 0 1px 0 hsl(174,5%,80%),
              0 2px 0 hsl(174, 5%, 75%),
              0 3px 0 hsl(174, 5%, 70%),
              
              0 0 5px rgba(0, 0, 0, 0.5),
              0 1px 3px rgba(0,0,0,0.2),
              0 3px 5px rgba(0, 0, 0, 0.2),
              0 5px 10px rgba(0, 0, 0, 0.2),
              0 10px 10px rgba(0, 0, 0, 0.2),
              0 20px 20px rgba(0, 0, 0, 0.2);
  font-size: 150px;
}


#aafirst{
  width: 100%;
  height: 250px;
  position: relative;
}
.slideIn{
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgb(137, 138, 139, 0.9));
  width: 80%;
  opacity: 0;
  display: flex;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}
/*
.slideIn{
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
  width: 80%;
  height: 200px;
  background-color: hotpink;
}*/

.slideInTxt{
  font-size: 2rem;
  color: wheat;
}
.slideInn{
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgb(137, 138, 139, 0.9));
  width: 80%;
  opacity: 0;
  display: flex;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}

.slideInnn{
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgb(137, 138, 139, 0.9));
  width: 80%;
  opacity: 0;
  display: flex;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}
.slideInnnn{
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgb(137, 138, 139, 0.9));
  width: 80%;
  opacity: 0;
  display: flex;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}
.slideInnnnn{
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgb(137, 138, 139, 0.9));
  width: 80%;
  opacity: 0;
  display: flex;
  transform: scale(0.1);
  transition: all 1s ease-in-out;
}
.active{
  opacity: 1;
  transform: scale(1);
}


.Second{
  
  border-radius: 10px;
  width: 96%;
  margin-left: 2%;
  margin-top: 8%;
  text-align: center;
  background-image: linear-gradient(90deg, rgba(120, 118, 128, 0.23), rgba(170, 174, 231, 0.233));
  animation-duration: 10s;
  transition: 2s;
  animation: colorchange 1s linear infinite;
}
@keyframes colorchange{
  0% {background-image: linear-gradient(90deg, rgb(255, 0, 0, 0.95), rgb(255, 0, 0, 0.85));}
  20% {background-image: linear-gradient(90deg, rgba(250, 100, 100, 0.9), rgba(250, 100, 100, 0.8));}
  40% {background-image: linear-gradient(90deg, rgb(250, 20, 20, 0.95), rgba(250, 20, 20, 0.85));}
  60% {background-image: linear-gradient(90deg, rgb(250, 80, 80, 0.9), rgba(250, 80, 80, 0.8));}
  80% {background-image: linear-gradient(90deg, rgba(250, 40, 40, 0.95), rgba(250, 40, 40, 0.85));}
  100% {background-image: linear-gradient(90deg, rgba(250, 60, 60, 0.9), rgba(250, 60, 60, 0.8));}
 }

 .onRedText{
   font-size: 2em;
   color: black;
   font-family: cursive;
   text-shadow: 1px 1px grey;
 }


 .Third{
   margin-top: 10%;
   text-align: center;
   font-size: 3em;
   width: 80%;
   margin-left: 10%;
 }

.colorText{
  color: blue;
  animation-duration: 10s;
   transition: 2s;
   animation: colorchang 1s linear infinite;
}
@keyframes colorchang{
  0% {color: red;}
  20% {color: rgb(255, 217, 0);}
  40% {color: rgb(255, 0, 0);}
  60% {color: rgb(0, 255, 221);}
  80% {color: rgb(255, 0, 0);}
  100% {color: rgb(247, 0, 255);}
 }

 .Third p{
   color: rgb(16, 16, 17);
   font-size: 2rem;
 }

 .beSecond{
   font-size: 3rem;
   
 }
 .beSecond2{
  font-size: 3rem;
}

#foForm{
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgb(137, 138, 139, 0.9));
  width: 100%;
}
.designOf{
  background-image: linear-gradient(90deg, rgb(0, 0, 0), rgba(18, 97, 31, 0.884));
  box-shadow: darkgreen 5px 5px 5px;
  
}
.b{
  width: 32%;
  font-size: 3em;
}
.be{
  width: 32%;
  font-size: 3em;
}
.beS{
  width: 32%;
  font-size: 3em;
}
.arrow{
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  text-align: center;
  color: black;
  font-size: 50px;

}